In [ ]:
1. Given a list of numbers, write a python program that returns a new list which Has all 
duplicate elements removed. And is sorted in an increasing order.
 Ex:
Input:
[2,1,3,4,2,3,3,2,7,9,8,7]

In [3]:
l=[2,1,3,4,2,3,3,2,7,9,8,7]
list(set(l))

[1, 2, 3, 4, 7, 8, 9]

2.Write a Python program where you will iterate over both keys and values in 
dictionaries

In [6]:
a={'maths':70,'stats':54,'python':60}
for y,z in a.items():
    print(y,z)

maths 70
stats 54
python 60

3.Write a Python program that takes a dictionary of student names and returns a list of 
student names in alphabetical order
Ex:
Input: 
{“Student 1”: "Tarun", "Student 2”: "Manoj", "Student 3”: "Gephi”}
Output:
 [“Gephi”,” 
Manoj”,” Tarun”]

In [49]:
s={"Student 1": "Tarun", "Student 2": "Manoj", "Student 3": "Gephi"}
c=[]
a=s.values()
b=sorted(a)
print(b)

['Gephi', 'Manoj', 'Tarun']

4. Write a Python which returns a new list of Booleans, from a given number. Iterating 
through the number one digit at a time, append True if the digit is 1 and False if it is 0.
Ex:
Input: “01001”
Output: [“False”, “True”, “False”,” False”,” True”]

In [58]:
a='01001'
b=[]
for i in a:
    if i=='0':
        b.append('False')
    else:
        b.append('True')
print(b)

['False', 'True', 'False', 'False', 'True']

5.Input: “my name is ame”
Output: {“m”:3,” y”:1,” n”:1,” a”:2,” e”:2,” i”:1,” s”:1}

In [81]:
a="my name is ame"
b=list(a)
d={}
b.remove(' ')
b.remove(' ')
b.remove(' ')
for i in b:
    c={i:b.count(i)}
    d.update(c)
print(d)

{'m': 3, 'y': 1, 'n': 1, 'a': 2, 'e': 2, 'i': 1, 's': 1}

6.Given a dictionary containing the names and ages of a group of people, return the 
name of the oldest person
Ex:
Input: {"Tmma": 41, "Ackes": 45, "myna": 15, "Benthon": 29}
Output: “Ackes”

In [82]:
a={"Tmma": 41, "Ackes": 45, "myna": 15, "Benthon": 29}

In [84]:
#b=a.values()
#c=a.keys()
def person(x):
    for i in a:
        if a[i]==x:
            return i
person(45)

'Ackes'

7.Write a Python program to create a Rock, Paper, Scissor game, use two inputs for two 
players:
Conditions: -Rock beats Scissors, Scissors beats Paper, Paper beats Rock

8.Create a program that returns a list of items that you can afford in the store with the 
money you have in your wallet. Create a dictionary with items as key and price as 
values
Ex:
Input: 
{“water bottles”: “20”,” chips”:10,” Iphone”;49000“,” towel”:90,” pens”:58,” cake”;400}
Your wallet balance: -50
Output: [“water bottles”, “chips”]

In [101]:
items={'water bottles': 20,'chips':10,'Iphone':49000,'towel':90,'pens':58,'cake':400}
#money=50
a=items.keys()
b=items.values()
l=[]

for i in items:
    money=50
    if items[i]<money:
        l.append(i)
    money-=j
print(l)

['water bottles', 'chips']

9.Write a Python program to create a union of sets

In [121]:
s1={1,2,3,23,45,34,65}
s2={34,2,3,1,23,43,54}
print(s1|s2)

{65, 1, 2, 3, 34, 43, 45, 54, 23}

10.Write a Python program to check if a given value is present in a set or not

In [123]:
s={1,2,32,54,43,23,56,78,98,0,7,8}
n=int(input('enter any number:'))
if n in s:
    print('the number',n,'is present in set s')
else:
    print('the number',n,'is not present in set s')

enter any number:607
the number 607 is not present in set s

11.Write a Python program to find the occurrences of 3 most common words in a 
given text. And make it as a dictionaries
Ex:
Input:
” Cat dog dog cat horse dog dog mouse horse dog mouse tiger lion tiger 
cat mouse snail”
Output: (“dog”:5,”cat”:3,” mouse”;3)

In [116]:
a="Cat dog dog cat horse dog dog mouse horse dog mouse tiger lion tiger cat mouse snail"
b=(a.lower()).split()
c={}
for i in b:
    if b.count(i)>2:
        c.update({i:b.count(i)})
print(c)

{'cat': 3, 'dog': 5, 'mouse': 3}

12.Write a Python program that accepts name of given subject and mark, and 
make subjects as keys in dictionaries and marks as values and print the final
dictionary with subjects and marks

In [118]:
name_sub=['maths','python','java','stats']
marks=[70,46,57,24]
d={}
for i in name_sub:
    for j in marks:
        d.update({i:j})
print(d)

{'maths': 24, 'python': 24, 'java': 24, 'stats': 24}